.cart{
    position: relative;
    border:1px solid #50280f;
    transform: scaleY(0.95)
}
.amount span{
    color:#e9d69e;
    padding:0 20px;
}

.amount button{
    width: 40px;
    height: 40px;
    border: 2px solid #777;
    font-weight: 800;
    font-size: 20px;
    color:white
}
.delete{
    position: absolute;
    top:0;
    right: 15px;
    color: #e9d69e;
    font-weight: 900;
    cursor: pointer;
}
.total{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #50280f;
}
.total h3{
    color:#50280f;
    font-size: 30px;
margin-bottom: 15px;
margin-left: 15px;
}
.row_btn{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.row_btn a{
    width: 600%;
    text-align: center;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    font-weight: 300;
    letter-spacing: 2;
    padding: 6px;
    border-radius: 5px;
    filter:drop-shadow(3px 2px 3px)
}
#btn_buy:hover{
    transform: scale(1.05);
}
#btn_buy{
    background: #e9d69e;
    margin-right: 5px;
}
